.img-inline {
	margin: 30px;
}
.img-inline li {
	padding: 20px;
	display: inline;
}

.img-circle{
	border-radius: 50%;
	width: 90px;
	height: 90px;
}

#rugby{
	width: 110px;
	height: 90px;
}
